openapi: '3.1.0'
info:
  description:
  version: 2023.11.14
  title: GitHub
 
servers:
- url: https://api.github.com
externalDocs:
  description: GitHub v3 REST API
  url: https://docs.github.com/rest/
paths:
  "/":
    get:
      summary: GitHub API Root
      description: Get Hypermedia links to resources accessible in GitHub's REST API
      operationId: meta/root
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/root"
  "/user":
    get:
      summary: Get the authenticated user
      description: |-
        If the authenticated user is authenticated with an OAuth token with the `user` scope, then the response lists public and private profile information.

        If the authenticated user is authenticated through OAuth without the `user` scope, then the response lists only public profile information.
      operationId: users/get-authenticated
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/users/users#get-the-authenticated-user
      parameters: []
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/private-user"
                - "$ref": "#/components/schemas/public-user"

components:
  schemas:
    root:
      type: object
      properties:
        current_user_url:
          type: string
          format: uri-template
        current_user_authorizations_html_url:
          type: string
          format: uri-template
        authorizations_url:
          type: string
          format: uri-template
        code_search_url:
          type: string
          format: uri-template
        commit_search_url:
          type: string
          format: uri-template
        emails_url:
          type: string
          format: uri-template
        emojis_url:
          type: string
          format: uri-template
        events_url:
          type: string
          format: uri-template
        feeds_url:
          type: string
          format: uri-template
        followers_url:
          type: string
          format: uri-template
        following_url:
          type: string
          format: uri-template
        gists_url:
          type: string
          format: uri-template
        hub_url:
          type: string
          format: uri-template
        issue_search_url:
          type: string
          format: uri-template
        issues_url:
          type: string
          format: uri-template
        keys_url:
          type: string
          format: uri-template
        label_search_url:
          type: string
          format: uri-template
        notifications_url:
          type: string
          format: uri-template
        organization_url:
          type: string
          format: uri-template
        organization_repositories_url:
          type: string
          format: uri-template
        organization_teams_url:
          type: string
          format: uri-template
        public_gists_url:
          type: string
          format: uri-template
        rate_limit_url:
          type: string
          format: uri-template
        repository_url:
          type: string
          format: uri-template
        repository_search_url:
          type: string
          format: uri-template
        current_user_repositories_url:
          type: string
          format: uri-template
        starred_url:
          type: string
          format: uri-template
        starred_gists_url:
          type: string
          format: uri-template
        topic_search_url:
          type: string
          format: uri-template
        user_url:
          type: string
          format: uri-template
        user_organizations_url:
          type: string
          format: uri-template
        user_repositories_url:
          type: string
          format: uri-template
        user_search_url:
          type: string
          format: uri-template
      required:
      - current_user_url
      - current_user_authorizations_html_url
      - authorizations_url
      - code_search_url
      - commit_search_url
      - emails_url
      - emojis_url
      - events_url
      - feeds_url
      - followers_url
      - following_url
      - gists_url
      - hub_url
      - issue_search_url
      - issues_url
      - keys_url
      - label_search_url
      - notifications_url
      - organization_url
      - organization_repositories_url
      - organization_teams_url
      - public_gists_url
      - rate_limit_url
      - repository_url
      - repository_search_url
      - current_user_repositories_url
      - starred_url
      - starred_gists_url
      - user_url
      - user_organizations_url
      - user_repositories_url
      - user_search_url

    private-user:
      title: Private User
      description: Private User
      type: object
      properties:
        login:
          type: string
          examples:
          - octocat
        id:
          type: integer
          examples:
          - 1
        node_id:
          type: string
          examples:
          - MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          examples:
          - https://github.com/images/error/octocat_happy.gif
        gravatar_id:
          type:
          - string
          - 'null'
          examples:
          - 41d064eb2195891e12d0413f63227ea7
        url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat
        html_url:
          type: string
          format: uri
          examples:
          - https://github.com/octocat
        followers_url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat/followers
        following_url:
          type: string
          examples:
          - https://api.github.com/users/octocat/following{/other_user}
        gists_url:
          type: string
          examples:
          - https://api.github.com/users/octocat/gists{/gist_id}
        starred_url:
          type: string
          examples:
          - https://api.github.com/users/octocat/starred{/owner}{/repo}
        subscriptions_url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat/subscriptions
        organizations_url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat/orgs
        repos_url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat/repos
        events_url:
          type: string
          examples:
          - https://api.github.com/users/octocat/events{/privacy}
        received_events_url:
          type: string
          format: uri
          examples:
          - https://api.github.com/users/octocat/received_events
        type:
          type: string
          examples:
          - User
        site_admin:
          type: boolean
        name:
          type:
          - string
          - 'null'
          examples:
          - monalisa octocat
        company:
          type:
          - string
          - 'null'
          examples:
          - GitHub
        blog:
          type:
          - string
          - 'null'
          examples:
          - https://github.com/blog
        location:
          type:
          - string
          - 'null'
          examples:
          - San Francisco
        email:
          type:
          - string
          - 'null'
          format: email
          examples:
          - octocat@github.com
        hireable:
          type:
          - boolean
          - 'null'
        bio:
          type:
          - string
          - 'null'
          examples:
          - There once was...
        twitter_username:
          type:
          - string
          - 'null'
          examples:
          - monalisa
        public_repos:
          type: integer
          examples:
          - 2
        public_gists:
          type: integer
          examples:
          - 1
        followers:
          type: integer
          examples:
          - 20
        following:
          type: integer
          examples:
          - 0
        created_at:
          type: string
          format: date-time
          examples:
          - '2008-01-14T04:33:35Z'
        updated_at:
          type: string
          format: date-time
          examples:
          - '2008-01-14T04:33:35Z'
        private_gists:
          type: integer
          examples:
          - 81
        total_private_repos:
          type: integer
          examples:
          - 100
        owned_private_repos:
          type: integer
          examples:
          - 100
        disk_usage:
          type: integer
          examples:
          - 10000
        collaborators:
          type: integer
          examples:
          - 8
        two_factor_authentication:
          type: boolean
          examples:
          - true
        plan:
          type: object
          properties:
            collaborators:
              type: integer
            name:
              type: string
            space:
              type: integer
            private_repos:
              type: integer
          required:
          - collaborators
          - name
          - space
          - private_repos
        suspended_at:
          type:
          - string
          - 'null'
          format: date-time
        business_plus:
          type: boolean
        ldap_dn:
          type: string
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
      - bio
      - blog
      - company
      - email
      - followers
      - following
      - hireable
      - location
      - name
      - public_gists
      - public_repos
      - created_at
      - updated_at
      - collaborators
      - disk_usage
      - owned_private_repos
      - private_gists
      - total_private_repos
      - two_factor_authentication

    public-user:
      title: Public User
      description: Public User
      type: object
      properties:
        login:
          type: string
        id:
          type: integer
        node_id:
          type: string
        avatar_url:
          type: string
          format: uri
        gravatar_id:
          type:
          - string
          - 'null'
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        followers_url:
          type: string
          format: uri
        following_url:
          type: string
        gists_url:
          type: string
        starred_url:
          type: string
        subscriptions_url:
          type: string
          format: uri
        organizations_url:
          type: string
          format: uri
        repos_url:
          type: string
          format: uri
        events_url:
          type: string
        received_events_url:
          type: string
          format: uri
        type:
          type: string
        site_admin:
          type: boolean
        name:
          type:
          - string
          - 'null'
        company:
          type:
          - string
          - 'null'
        blog:
          type:
          - string
          - 'null'
        location:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        hireable:
          type:
          - boolean
          - 'null'
        bio:
          type:
          - string
          - 'null'
        twitter_username:
          type:
          - string
          - 'null'
        public_repos:
          type: integer
        public_gists:
          type: integer
        followers:
          type: integer
        following:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        plan:
          type: object
          properties:
            collaborators:
              type: integer
            name:
              type: string
            space:
              type: integer
            private_repos:
              type: integer
          required:
          - collaborators
          - name
          - space
          - private_repos
        suspended_at:
          type:
          - string
          - 'null'
          format: date-time
        private_gists:
          type: integer
          examples:
          - 1
        total_private_repos:
          type: integer
          examples:
          - 2
        owned_private_repos:
          type: integer
          examples:
          - 2
        disk_usage:
          type: integer
          examples:
          - 1
        collaborators:
          type: integer
          examples:
          - 3
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
      - bio
      - blog
      - company
      - email
      - followers
      - following
      - hireable
      - location
      - name
      - public_gists
      - public_repos
      - created_at
      - updated_at
      additionalProperties: false
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer


security:
  - bearerAuth: []         # use the same name as above
